<script async src="//onlineapi.flexiti.fi/public/libs/SDK/js/flexiti-sdk-0.0.2.js"></script>
{{ 'apply-button.scss' | asset_url | stylesheet_tag }}
<button type="button" class="flx-button" id="flx-financing-apply-btn">
  {{ 'apply_button_txt' | t }}
</button>
<script>// <![CDATA[
$(document).ready(function () {
    jQuery("#flx-financing-apply-btn").on("click", function () {
        var _url = "";
        flxSdk = new FlexitiSDK({
            clientSecret: '3bdbd496-1ab9-4b61-bf6b-1e24ed724f08',
            clientID: 'flexitidemo',
            env: 'training'
        });
        flxSdk.OAuthLogin().then((res) => {
            flxSdk.financeNow({
            });
        });
    });
});
// ]]></script>