<style>
  tbody tr:nth-child(odd){
    background-color: #fcfcfc;

  }

    tbody tr:nth-child(even){
    background-color: #f1f1f1;

  }
</style>
<p><b>Holiday Shopping Hours:</b></p>
<table id="hours" style="width: 100%;">
  <tbody>
    <tr>
      <td>Monday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Friday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td id="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td id="time">9AM - 8PM</td>
    </tr>
    <tr>
      <td>Sunday December 24th</td>
      <td id="time">10AM - 4:30PM</td>
    </tr>
    <tr>
      <td>Christmas Day</td>
      <td id="time">Closed</td>
    </tr>
    <tr>
      <td>Sunday December 31th</td>
      <td id="time">10AM - 4:30PM</td>
    </tr>
    <tr>
      <td>New Years Day</td>
      <td id="time">Closed</td>
    </tr>
  </tbody>
</table>
<p><b></b></p>
