<style>
  tbody tr:nth-child(odd){
    background-color: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background-color: #f1f1f1;
  }
</style>

<p><b>Holiday Shopping Hours:</b></p>
<table id="hours" width="100%" style="width: 100%;">
  <tbody>
    <tr>
      <td width="50%">Monday</td>
      <td class="time" width="50%"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Friday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td><b>Sunday December 24th</b></td>
      <td class="time"><b>10AM - 4:30PM</b></td>
    </tr>
    <tr>
      <td><b>Christmas Day</b></td>
      <td class="time"><b>Closed</b></td>
    </tr>
    <tr>
      <td><b>Sunday December 31th</b></td>
      <td class="time"><b>10AM - 4:30PM</b></td>
    </tr>
    <tr>
      <td><b>New Years Day</b></td>
      <td class="time"><b>Closed</b></td>
    </tr>
  </tbody>
</table>
