<style>
  tbody tr:nth-child(odd){
    background-color: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background-color: #f1f1f1;
  }
  #hours {
    display: table;
  }
  #hours tbody {
    display: table-row-group;
  }
  #hours tr {
    display: table-row;
  }
</style>

<p><b>Holiday Shopping Hours:</b></p>
<table id="hours" width="100%" style="width: 100%;">
  <tbody>
    <tr>
      <td width="50%">Monday</td>
      <td class="time" width="50%"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Friday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td class="time"><span>9AM - 8PM</span></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> Friday, November 24th</b>
      </td>
      <td class="time"><b>8AM - 8PM</b></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> Tuesday, December 5th</b>
      </td>
      <td class="time"><b>9AM - 6PM</b></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> Sunday, December 24th</b>
      </td>
      <td class="time"><b>10AM - 4:30PM</b></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> Christmas Day</b>
      </td>
      <td class="time"><b>Closed</b></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> Sunday, December 31st</b>
      </td>
      <td class="time"><b>10AM - 4:30PM</b></td>
    </tr>
    <tr>
      <td>
        <b><i class="fa-solid fa-star"></i> New Years Day</b>
      </td>
      <td class="time"><b>Closed</b></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
