<style>
tbody tr:nth-child(odd){
  background-color: #fcfcfc;

}
  
  tbody tr:nth-child(even){
  background-color: #f1f1f1;

}
</style> 



<p><b>Easter Hours:</b></p>
<table id="hours" style="width: 100%;">
<tbody>
<tr>
<td style="width: 286.4px;">Good Friday April 7th</td>
<td id="time" style="width: 383.2px;"><span>10AM - 6PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Saturday April 8th</td>
<td id="time" style="width: 383.2px;"><span>9AM - 6PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Easter Sunday April 9th</td>
<td id="time" style="width: 383.2px;"><span>Closed</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Easter Monday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>

  </tbody>
</table>




<p><b>Store Hours:</b></p>
<table id="hours" style="width: 100%;">
<tbody>
<tr>
<td style="width: 286.4px;">Monday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Tuesday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Wednesday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Thursday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Friday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 8PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Saturday</td>
<td id="time" style="width: 383.2px;"><span>9AM - 6PM</span></td>
</tr>
<tr>
<td style="width: 286.4px;">Sunday / Holidays</td>
<td id="time" style="width: 383.2px;">10AM - 6PM</td>
</tr>
  </tbody>
</table>






