{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/big-box-outlet-store.myshopify.com/products/configure/24866/edit
{% endcomment %}
{% if product.metafields.custom_fields["condition_details"] != blank %}
  <div class="custom-field custom-field__condition-details custom-field__type--text">
    <h3 class="custom-field--title">Condition Details</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["condition_details"] }}
    </div>
  </div>
{% endif %}