{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/big-box-outlet-store.myshopify.com/products/configure/24871/edit
{% endcomment %}
{% if product.metafields.custom_fields["condition_class"] != blank %}
  <div class="custom-field custom-field__condition-class custom-field__type--text-list">
    <h3 class="custom-field--title">Condition Class</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["condition_class"] }}
    </div>
  </div>
{% endif %}