{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/big-box-outlet-store.myshopify.com/products/configure/137761/edit
{% endcomment %}
{% if product.metafields.custom_fields["spot_check_date"] != blank %}
  <div class="custom-field custom-field__spot-check-date custom-field__type--date">
    <h3 class="custom-field--title">Spot Check Date</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["spot_check_date"] | date: "%m/%d/%Y" }}
    </div>
  </div>
{% endif %}