<div style="border: 14px solid #ffffff; padding: 14px; background: #E42F67;" width="100%">
  <p style="color: #ffffff; font-weight: bold; font-size: 42pt; text-align: center; line-height: 44pt;">
    Buy Now,&nbsp; Pay Later.
  </p>
  <p style="color: #ffda00; font-size: 22pt; text-align: center; line-height: 28pt;">
    <strong>FLEXITI</strong> AND <strong>BIG BOX OUTLET STORE</strong><br>
    HELPING YOU AFFORD EVERYDAY LIFE
  </p>
</div>
<div style="padding: 14px;" width="100%">
  <img
    data-mce-fragment="1"
    src="https://cdn.shopify.com/s/files/1/0832/6257/files/flexiti-card_480x480.png?v=1694816385"
    alt="Flexiti Financing"
    style="display: block; float: right; margin-left: 14px;"
    data-mce-src="https://cdn.shopify.com/s/files/1/0832/6257/files/flexiti-card_480x480.png?v=1694816385"
    loading="lazy"
    width="278"
    height="184"
  >
  <p>
    <span style="font-size: 120pt; font-weight: bold; line-height: 80pt;">0</span
    ><span style="position: relative; font-size: 80pt; line-height: 80pt; vertical-align: super; top: -25px; font-weight: bold;"
      >%</span
    >
  </p>
  <p style="font-size: 18pt; font-weight: bold; line-height: 20pt;">
    FINANCING<br>
    FOR 12 MONTHS
  </p>
</div>
<div style="text-align: center; padding: 14px 100px;">
  {% include 'apply_now_link' %}
  <p>
    With a Flexiti card you can get the quality and value you want with flexible payment options. Get approved within
    minutes and pay no interest* on purchases of $250 and up.
  </p>
</div>
<div style="text-align: center; padding: 14px 14px 0px 14px;">
  <p style="color: #003da6; font-weight: bold; font-size: 20pt; line-height: 20pt;">CHOOSE THE RIGHT PLAN FOR YOU</p>
  <p style="font-size: 15pt; line-height: 15pt; margin: 0;">
    <strong>12 Equal Monthly Payments</strong> OR <strong>12 Month Deferred Payments</strong>
  </p>
</div>
<div style="width: 100%; height: 110px; margin-bottom: 12px;">
  <div style="width: 186px; height: 88px; background: url('https://cdn.shopify.com/s/files/1/0832/6257/files/flexiti-checkbox_480x480.png?v=1694818412'); background-repeat: no-repeat; float: left; margin-right: 35px;">
    <div style="color: #003da6; text-align: center; margin-top: 28px; font-weight: bold; line-height: 22px; font-size: 13px;">
      Quick Approval
    </div>
    <div style="font-size: 13px; margin: 0px 6px; text-align: center; line-height: 14px; font-weight: bold;">
      Get instant ﬁnancing and use your card right away.
    </div>
  </div>
  <div style="width: 186px; height: 88px; background: url('https://cdn.shopify.com/s/files/1/0832/6257/files/flexiti-checkbox_480x480.png?v=1694818412'); background-repeat: no-repeat; float: left; margin-right: 35px;">
    <div style="color: #003da6; text-align: center; margin-top: 28px; font-weight: bold; line-height: 22px; font-size: 13px;">
      Flexible Payment Options
    </div>
    <div style="font-size: 13px; margin: 0px 6px; text-align: center; line-height: 14px; font-weight: bold;">
      Turn large purchases into small payments.
    </div>
  </div>
  <div style="width: 186px; height: 88px; background: url('https://cdn.shopify.com/s/files/1/0832/6257/files/flexiti-checkbox_480x480.png?v=1694818412'); background-repeat: no-repeat; float: left;">
    <div style="color: #003da6; text-align: center; margin-top: 28px; font-weight: bold; line-height: 22px; font-size: 13px;">
      Online Account Maintenance
    </div>
    <div style="font-size: 13px; margin: 0px 6px; text-align: center; line-height: 14px; font-weight: bold;">
      Pay online through your bank account.
    </div>
  </div>
</div>
<div style="background: #003DA6; width: 100%; padding: 14px;">
  <p style="text-align: center;">
    <a
      style="color: #ffffff; font-size: 14pt; font-weight: bold; text-decoration: underline;"
      href="https://flexiti.com/faq"
      >Important Financing FAQ’s</a
    >
  </p>
  <p style="color: #ffda00; text-align: center;">Ask a BIG BOX OUTLET STORE staff member for details.</p>
  <p style="text-align: center; color: #ffffff;">
    If you have issues of any kind, please call <strong>1-877-259-3745</strong>
  </p>
  <p style="color: #ffffff; font-size: 12px; line-height: 16px;">
    *Flexiti no interest financing only available at Walnut Grove Langley and Kamloops Big Box Outlet Store Locations.
    O.A.C. On your FlexitiCard. Minimum purchase of $250 including taxes is required. For equal monthly payment plans:
    no interest will accrue during the promo period and monthly payments include premiums for payment protection
    insurance premiums, fees, and taxes, if applicable. If any payment is missed, all promo offers on the account may be
    cancelled and upon cancellation, interest will be calculated at the cardholder agreement annual interest rate
    (Account AIR). For deferred payment plans: no payments are required during the promotional period. Interest at the
    Account AIR accrues during the promo period and will be charged if the balance is not paid in full by the promo
    expiry date or if the promo is cancelled due to payment default on the account. Initial Account AIR is disclosed
    upon approval, varies based on cardholder’s creditworthiness at time of application. Current AIRs are 31.99%, 35%
    (max for Quebec residents), 36.99%, and 39.99%. Admin fee of $59.99 applies and will be financed with purchase (not
    applicable for Quebec residents). Annual fee of $59.99 applies for residents of Quebec. Any balance at the end of
    promo term bears interest at the Account AIR. Promos and terms may be changed without notice. Financing provided by
    Flexiti Financial. B.C. Licence No. 83660. Flexiti.
  </p>
</div>
